# Logs
npm-debug.log*

# Coverage directories
coverage/
.nyc_output/

# Compiled code
build/

# Dependencies
node_modules/

# Optional npm cache directory
.npm/

# Webflow
.idea/

# Operating System
.DS_Store
Thumbs.db